Résumé cours.

Challenge : Classify and Convert
Données à classer :

A. List of product prices in a CSV file     : Structurée
B. Customer feedback comments from a survey	: Non structurée	Analyse de texte → tableau avec sentiments, mots-clés
C. A graph showing sales over the past year	: Non structurée	Extraire les données sources (CSV, JSON)
D. Tweets mentioning brand                  : Non structurée	Utiliser NLP pour structurer par sujet, sentiment, hashtags

In [1]:
import pandas as pd

In [2]:
iris_data = pd.read_csv('iris.csv', header=None)
print(iris_data.head())

    0              1             2              3             4            5
0  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1   1            5.1           3.5            1.4           0.2  Iris-setosa
2   2            4.9           3.0            1.4           0.2  Iris-setosa
3   3            4.7           3.2            1.3           0.2  Iris-setosa
4   4            4.6           3.1            1.5           0.2  Iris-setosa

In [4]:
iris_data = pd.read_csv('iris.csv', names=['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])
print(iris_data.head())

     sepal_length   sepal_width   petal_length   petal_width      species
Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa

In [ ]:
json_data = pd.read_json('posts.json')
print(json_data.head())

   userId  id                                              title  \
0       1   1  sunt aut facere repellat provident occaecati e...
1       1   2                                       qui est esse
2       1   3  ea molestias quasi exercitationem repellat qui...
3       1   4                               eum et est occaecati
4       1   5                                 nesciunt quas odio

                                                body
0  quia et suscipit\nsuscipit recusandae consequu...
1  est rerum tempore vitae\nsequi sint nihil repr...
2  et iusto sed quo iure\nvoluptatem occaecati om...
3  ullam et saepe reiciendis voluptatem adipisci\...
4  repudiandae veniam quaerat sunt sed\nalias aut...

In [8]:
excel_data = pd.read_excel('file_example_XLS_10(5).xls', index_col=0)
print(excel_data.head())

  First Name  Last Name  Gender        Country  Age        Date    Id
0
1      Dulce      Abril  Female  United States   32  15/10/2017  1562
2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
3     Philip       Gent    Male         France   36  21/05/2015  2587
4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [10]:

grade_data = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/grades.csv')
print(grade_data.head())

  Last name      "First name"                 "SSN"         "Test1"   "Test2"  \
0   Alfalfa        "Aloysius"         "123-45-6789"            40.0      90.0
1    Alfred      "University"         "123-12-1234"            41.0      97.0
2     Gerty          "Gramma"         "567-89-0123"            41.0      80.0
3   Android        "Electric"         "087-65-4321"            42.0      23.0
4   Bumpkin            "Fred"         "456-78-9012"            43.0      78.0

    "Test3"   "Test4"   "Final"  "Grade"
0     100.0      83.0      49.0     "D-"
1      96.0      97.0      48.0     "D+"
2      60.0      40.0      44.0      "C"
3      36.0      45.0      47.0     "B-"
4      88.0      77.0      45.0     "A-"

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'num': [1, 2, 3, 4, 5],
    'let': ['A', 'B', 'C', 'D', 'E'],
    'bool': [True, False, True, False, True]
})

df.to_csv('df.csv', index=False)
df.to_json('df.json')
df.to_csv('df2.csv')
df.to_json('df2.json', orient='split')
df.to_json('df3.json', orient='records')
df.to_excel('filename.xlsx', sheet_name='Sheet1')

In [ ]:
import pandas as pd

customers = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Email': ['alice@example.com', 'bob@example.com', 'charlie@example.com'],
    'Country': ['France', 'USA', 'UK']
})

customers.to_csv('customers.csv', index=False)

In [ ]:
user_data = pd.DataFrame({
    'id': [1, 2],
    'name': ['Alice', 'Bob'],
    'address': [{'city': 'Paris', 'zip': '75000'}, {'city': 'New York', 'zip': '10001'}],
    'preferences': [{'lang': 'fr', 'newsletter': True}, {'lang': 'en', 'newsletter': False}]
})

user_data.to_json('user_data.json', orient='records', lines=True)

In [ ]:
data = pd.DataFrame({
    'Produit': ['Pomme', 'Banane', 'Cerise'],
    'Prix': [1.2, 0.8, 2.5]
})

data.to_csv('data_semicolon.csv', sep=';', index=False)

In [ ]:
df1 = pd.DataFrame({'Année': [2022, 2023], 'Chiffre': [1000, 1500]})
df2 = pd.DataFrame({'Mois': ['Janvier', 'Février'], 'Ventes': [500, 700]})

with pd.ExcelWriter('multi_sheet_file.xlsx') as writer:
    df1.to_excel(writer, sheet_name='Revenus')
    df2.to_excel(writer, sheet_name='Détails Ventes')

In [ ]:
large_df = pd.DataFrame({
    'ID': range(1, 10001),
    'Valeur': [x * 2 for x in range(1, 10001)]
})
large_df.to_csv('large_file.csv', index=False)

for chunk in pd.read_csv('large_file.csv', chunksize=1000):
    chunk.to_csv('output_chunk.csv', mode='a', index=False, header=not bool(chunk.index[0]))

large_df.to_parquet('large_data.parquet', index=False)

In [20]:
import pandas as pd

df = pd.DataFrame({
    'ID': [1, 2, 3, 4, 5],
    'Lettre': ['A', 'B', 'C', 'D', 'E'],
    'Valide': [True, False, True, False, True]
})

df.to_csv('df_test.csv', index=False)
df.to_json('df_test.json')

In [1]:
from faker import Faker
import numpy as np, pandas as pd

fake = Faker()
data = [(fake.name(), np.random.randint(18, 70)) for _ in range(100)]
df = pd.DataFrame(data, columns=['Name', 'Age'])
display(df)

                    Name  Age
0         Amber Martinez   65
1           David Daniel   69
2          Jessica Burns   38
3           Lacey Deleon   44
4        Beverly Hubbard   36
..                   ...  ...
95         Zachary Stark   26
96  Nathan Mcfarland DDS   27
97             Ryan Hart   38
98       William English   67
99         David Sanders   46

[100 rows x 2 columns]

In [ ]:
from faker import Faker
from faker_commerce import Provider
import numpy as np, pandas as pd

fake = Faker()
fake.add_provider(Provider) 

data_sales = [(fake.ecommerce_name(),fake.ecommerce_category(), np.random.randint(5,70),fake.date_this_year(),np.random.randint(16,55))  for _ in range(100)]
df = pd.DataFrame(data_sales, columns=['Product Name','Category','Sale Amount','Date of Sale','Customer Age'])
display(df)

,Product Name,Category,Sale Amount,Date of Sale,Customer Age
0,Small Shoes,Automotive,54,2025-03-20,50
1,Gloves,Electronics,68,2025-06-06,33
2,Refined Shirt,Shoes,21,2025-06-09,45
3,Awesome Gloves,Home,29,2025-02-15,51
4,Handcrafted Bike,Movies,47,2025-01-02,53
...,...,...,...,...,...
95,Pants,Shoes,33,2025-01-04,21
96,Refined Sausages,Home,37,2025-03-27,37
97,Incredible Granite Shoes,Health,43,2025-03-24,26
98,Generic Towels,Home,30,2025-02-16,44
99,Fantastic Computer,Health,49,2025-05-02,22

:

In [ ]:

#Fait sous collab

import numpy as np
import matplotlib.pyplot as plt
from PIL import Image
from scipy.ndimage import rotate
from tensorflow.keras.preprocessing.image import ImageDataGenerator, img_to_array

image = Image.open("cat.jpg").convert("RGB")
image_array = img_to_array(image) / 255.0
image_array = np.expand_dims(image_array, axis=0)

random_rotator = ImageDataGenerator(rotation_range=20)
rotated_random = next(random_rotator.flow(image_array))[0]

plt.imshow(rotated_random)
plt.title("Rotation aléatoire (-20° à +20°)")
plt.axis("off")
plt.show()

def rotate_image_30_degrees(image):
    return rotate(image, 30, reshape=False, mode='nearest')

fixed_rotator = ImageDataGenerator(preprocessing_function=rotate_image_30_degrees)
rotated_fixed = next(fixed_rotator.flow(image_array))[0]

plt.imshow(rotated_fixed)
plt.title("Rotation exacte de 30°")
plt.axis("off")
plt.show()