
Exercises XP

Last Updated: October 16th, 2024

What you will learn

    Identify and remove duplicate entries in the Titanic dataset.
    Explore various techniques for handling missing values in the Titanic dataset.
    Perform feature engineering on the Titanic dataset to create new meaningful attributes.
    Standardize and normalize numerical columns in the Titanic dataset for consistent scale.
    Transform the Age feature in the Titanic dataset for better representation and analysis.


What you will create

    A cleaned version of the Titanic dataset with duplicate rows removed.
    A version of the Titanic dataset where missing values have been addressed using various strategies like removal, imputation, and constant value filling.
    A Titanic dataset with standardized and normalized numerical columns.A Titanic dataset with passengers categorized into different age groups and these groups encoded into binary features.
    A Titanic dataset with encoded categorical features using one-hot and label encoding techniques.


For all of the below exercises, you will use the Titanic dataset (train.csv), so load it beforehand on your notebook.
You will notice in the following exercises that the dataset is already pretty clean but try and understand all of the functions used for preprocessing the data.
Optionally, if you have time and willing to, you can redo the exercises with a less clean dataset : Weather Data Munich 1954-2022.
ðŸŒŸ Exercise 1: Duplicate Detection and Removal
Instructions

Objective: Identify and remove duplicate entries in the Titanic dataset.

    Load the Titanic dataset.
    Identify if there are any duplicate rows based on all columns.
    Remove any duplicate rows found in the dataset.
    Verify the removal of duplicates by checking the number of rows before and after the duplicate removal.

Hint: Use the duplicated() and drop_duplicates() functions in Pandas.


ðŸŒŸ Exercise 2: Handling Missing Values
Instructions

    Identify columns in the Titanic dataset with missing values.
    Explore different strategies for handling missing data, such as removal, imputation, and filling with a constant value.
    Apply each strategy to different columns based on the nature of the data.

Hint: Review methods like dropna(), fillna(), and SimpleImputer from scikit-learn.


ðŸŒŸ Exercise 3: Feature Engineering
Instructions

    Create new features, such as Family Size from SibSp and Parch, and Title extracted from the Name column.
    Convert categorical variables into numerical form using techniques like one-hot encoding or label encoding.
    Normalize or standardize numerical features if required.

Hint: Utilize Pandas for data manipulation and scikit-learnâ€™s preprocessing module for encoding.


ðŸŒŸ Exercise 4: Outlier Detection and Handling
Instructions

    Use statistical methods to detect outliers in columns like Fare and Age.
    Decide on a strategy to handle the identified outliers, such as capping, transformation, or removal.
    Implement the chosen strategy and assess its impact on the dataset.

Hint: Explore methods like IQR (Interquartile Range) and Z-score for outlier detection.


ðŸŒŸ Exercise 5: Data Standardization and Normalization
Instructions

    Assess the scale and distribution of numerical columns in the dataset.
    Apply standardization to features with a wide range of values.
    Normalize data that requires a bounded range, like [0, 1].

Hint: Consider using StandardScaler and MinMaxScaler from scikit-learnâ€™s preprocessing module.


ðŸŒŸ Exercise 6: Feature Encoding
Instructions

    Identify categorical columns in the Titanic dataset, such as Sex and Embarked.
    Use one-hot encoding for nominal variables and label encoding for ordinal variables.
    Integrate the encoded features back into the main dataset.

Hint: Utilize pandas.get_dummies() for one-hot encoding and LabelEncoder from scikit-learn for label encoding.


ðŸŒŸ Exercise 7: Data Transformation for Age Feature
Instructions

    Create age groups (bins) from the Age column to categorize passengers into different age categories.
    Apply one-hot encoding to the age groups to convert them into binary features.

Hint: Use pd.cut() for binning the Age column and pd.get_dummies() for one-hot encoding.

In [8]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [16]:
df = pd.read_csv("train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
print("taille:", df.shape)

doublons = df.duplicated()

print("doublons :", doublons.sum())
df_sans_doublons = df.drop_duplicates()
print("no doublons:", df_sans_doublons.shape)
print(df.head())

In [17]:
df = df.dropna(subset=["Embarked"])

median_age = df["Age"].median()
df["Age"] = df["Age"].fillna(median_age)
df["Cabin"] = df["Cabin"].fillna("U")

""" 
Embarked = port d'embarquement du passager (C = Cherbourg, Q = Queenstown, S = Southampton)

    Il n'y a que 2 valeurs manquantes dans tout le dataset.

    On ne peut pas deviner facilement d'oÃ¹ est parti un passager.

    suppression car trÃ¨s peu de valeurs manquantes.
    
remplir les Ã¢ges manquants

    Il y a beaucoup de valeurs manquantes.

    supprimer = grosse perte d'information.

    La mÃ©diane = pas d'influences des outliers.
    
remplir avec "U" (Unknown)

    Cabin = beaucoup trop de valeurs manquantes

    Ne pas supprimer

    estimation impossible ( je crois )

    -> On ne connait pas la cabine
 """
print("val manquantes:")
print(df.isnull().sum())
print(df.head())

val manquantes:
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500     U        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250     U        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500     U        S

In [18]:
df["FamilySize"] = df["SibSp"] + df["Parch"] + 1
df["Title"] = df["Name"].apply(lambda x: x.split(',')[1].split('.')[0].strip())
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  FamilySize Title
0      0         A/5 21171   7.2500     U        S           2    Mr
1      0          PC 17599  71.2833   C85        C           2   Mrs
2      0  STON/O2. 3101282   7.9250     U        S           1  Miss
3      0            113803  53.1000  C123        S           2   Mrs
4      0            373450   8.0500     U        S           1    Mr

In [19]:
le = LabelEncoder()
df["Sex_encoded"] = le.fit_transform(df["Sex"])


embarked_dummies = pd.get_dummies(df["Embarked"], prefix="Embarked")
df = pd.concat([df, embarked_dummies], axis=1)


title_dummies = pd.get_dummies(df["Title"], prefix="Title")
df = pd.concat([df, title_dummies], axis=1)
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare  ... Title_Master Title_Miss  Title_Mlle  \
0      0         A/5 21171   7.2500  ...        False      False       False
1      0          PC 17599  71.2833  ...        False      False       False
2      0  STON/O2. 3101282   7.9250  ...        False       True       False
3      0            113803  53.1000  ...        False      False       False
4      0            373450   8.0500  ...        False      False       False

  Title_Mme  Title_Mr  Title_Mrs  Title_Ms  Title_Rev  Title_Sir  \
0     False      True      False     False      False      False
1     False     False       True     False      False      False
2     False     False      False     False      False      False
3     False     False       True     False      False      False
4     False      True      False     False      False      False

   Title_the Countess
0               False
1               False
2               False
3               False
4               False

[5 rows x 35 columns]

In [17]:
def cap_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df[column] = df[column].clip(lower, upper)

cap_outliers(df, "Age")
cap_outliers(df, "Fare")
print("max Age/Fare apres cap :", df["Age"].max(), "/", df["Fare"].max())
print(df.head())

numeric_cols = ["Age", "Fare", "FamilySize"]
df["FamilySize"] = df["SibSp"] + df["Parch"] + 1
scaler_std = StandardScaler()
df_std = df[numeric_cols].copy()
df_std[numeric_cols] = scaler_std.fit_transform(df_std[numeric_cols])
print("standardisation)")

scaler_norm = MinMaxScaler()
df_norm = df[numeric_cols].copy()
df_norm[numeric_cols] = scaler_norm.fit_transform(df_norm[numeric_cols])
print("normalisation")
print("age standardise:", df_std["Age"].head().values)
print("age normalise:", df_norm["Age"].head().values)
print(df.head())

max Age/Fare apres cap : 64.8125 / 65.6344
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  65.6344   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
standardisation)
normalisation
age standardise: [-0.53280867  0.58555349 -0.25321813  0.37586058  0.37586058]
age normalise: [0.3351322  0.58360834 0.39725123 0.53701906 0.53701906]
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  FamilySize
0      0         A/5 21171   7.2500   NaN        S           2
1      0          PC 17599  65.6344   C85        C           2
2      0  STON/O2. 3101282   7.9250   NaN        S           1
3      0            113803  53.1000  C123        S           2
4      0            373450   8.0500   NaN        S           1

In [12]:




label_encoder = LabelEncoder()
df['Sex_encoded'] = label_encoder.fit_transform(df['Sex'])
print("encodage label Sex")

df_embarked_encoded = pd.get_dummies(df['Embarked'], prefix='Embarked')
df = pd.concat([df, df_embarked_encoded], axis=1)
print("encodage one-hot de Embarked")
print("colonnes ajoutees :", ['Sex_encoded'] + list(df_embarked_encoded.columns))

df['AgeGroup'] = pd.cut(
    df['Age'],
    bins=[0, 12, 18, 35, 60, 100],
    labels=['child', 'teen', 'young_adult', 'adult', 'senior']
)

print("groupe 'AgeGroup'")
df_age_encoded = pd.get_dummies(df['AgeGroup'], prefix='Age')
df = pd.concat([df, df_age_encoded], axis=1)

print("encodage one-hot AgeGroup")
print("colonnes :", list(df_age_encoded.columns))
print(df.head)

encodage label Sex
encodage one-hot de Embarked
colonnes ajoutees : ['Sex_encoded', 'Embarked_C', 'Embarked_Q', 'Embarked_S']
groupe 'AgeGroup'
encodage one-hot AgeGroup
colonnes : ['Age_child', 'Age_teen', 'Age_young_adult', 'Age_adult', 'Age_senior']
<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare  ... Sex_encoded Embarked_C  Embarked_Q  \
0        0         A/5 21171   7.2500  ...           1      False       False
1        0          PC 17599  65.6344  ...           0       True       False
2        0  STON/O2. 3101282   7.9250  ...           0      False       False
3        0            113803  53.1000  ...           0      False       False
4        0            373450   8.0500  ...           1      False       False
..     ...               ...      ...  ...         ...        ...         ...
886      0            211536  13.0000  ...           1      False       False
887      0            112053  30.0000  ...           0      False       False
888      2        W./C. 6607  23.4500  ...           0      False       False
889      0            111369  30.0000  ...           1       True       False
890      0            370376   7.7500  ...           1      False        True

     Embarked_S     AgeGroup  Age_child  Age_teen Age_young_adult  Age_adult  \
0          True  young_adult      False     False            True      False
1         False        adult      False     False           False       True
2          True  young_adult      False     False            True      False
3          True  young_adult      False     False            True      False
4          True  young_adult      False     False            True      False
..          ...          ...        ...       ...             ...        ...
886        True  young_adult      False     False            True      False
887        True  young_adult      False     False            True      False
888        True          NaN      False     False           False      False
889       False  young_adult      False     False            True      False
890       False  young_adult      False     False            True      False

     Age_senior
0         False
1         False
2         False
3         False
4         False
..          ...
886       False
887       False
888       False
889       False
890       False

[891 rows x 23 columns]>

In [26]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

df = pd.read_csv("weatherdata.csv", sep=";")

# nttoyage
df.columns = df.columns.str.strip()
df = df.replace(-999, pd.NA)

df["MESS_DATUM"] = pd.to_datetime(df["MESS_DATUM"], format="%Y%m%d", errors="coerce")

colonnes_a_supprimer = ["eor", "STATIONS_ID", "QN_3", "QN_4", "RSKF", "SHK_TAG"]
df = df.drop(columns=[col for col in colonnes_a_supprimer if col in df.columns])

colonnes_numeriques_connues = [
    "FX", "FM", "RSK", "SDK", "NM", "VPM", "PM",
    "TMK", "UPM", "TXK", "TNK", "TGK"
]
colonnes_presentes = [col for col in colonnes_numeriques_connues if col in df.columns]

for col in colonnes_presentes:
    df[col] = pd.to_numeric(df[col], errors="coerce")

df = df.dropna(subset=["MESS_DATUM", "TMK"])
df["year"] = df["MESS_DATUM"].dt.year


mean_temp_by_year = df.groupby("year")["TMK"].mean()
print("temp moyenne:")
print(mean_temp_by_year.tail(10))
def cap_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    seuil_bas = Q1 - 1.5 * IQR
    seuil_haut = Q3 + 1.5 * IQR
    df[column] = df[column].clip(seuil_bas, seuil_haut)

for col in ["TXK", "TMK"]:
    if col in df.columns:
        cap_outliers(df, col)

colonnes_scaling = [col for col in ["TMK", "TXK", "FM"] if col in df.columns]

scaler_std = StandardScaler()
scaler_norm = MinMaxScaler()

df_std = df[colonnes_scaling].copy()
df_norm = df[colonnes_scaling].copy()

df_std[colonnes_scaling] = scaler_std.fit_transform(df_std[colonnes_scaling])
df_norm[colonnes_scaling] = scaler_norm.fit_transform(df_norm[colonnes_scaling])
print("Extrait (standardisÃ©):", df_std.head())
print("Extrait (normalisÃ©):", df_norm.head())

temp moyenne:
year
2013     9.569589
2014    11.091507
2015    11.129863
2016    10.419945
2017    10.441918
2018    11.389589
2019    11.006575
2020    11.004098
2021     9.731781
2022    11.367671
Name: TMK, dtype: float64
Extrait (standardisÃ©):         TMK       TXK  FM
0  0.554982  0.418412 NaN
1  0.453776  0.651419 NaN
2  0.883903  0.895522 NaN
3  0.706792  0.385125 NaN
4  0.706792  0.429508 NaN
Extrait (normalisÃ©):         TMK       TXK  FM
0  0.640351  0.618042 NaN
1  0.622807  0.658349 NaN
2  0.697368  0.700576 NaN
3  0.666667  0.612284 NaN
4  0.666667  0.619962 NaN